<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <!-- Официальный NuGet: UnityEngine.Modules, HarmonyX -->
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <!-- Официальный фид BepInEx: BepInEx.Core (5.x) и BepInEx.Unity.IL2CPP (6.x) -->
    <add key="bepinex" value="https://nuget.bepinex.dev/v3/index.json" protocolVersion="3" />
  </packageSources>
</configuration>
